<div *ngIf="item">
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button>
		  <ion-icon name="create" (click)="editItem()"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<form onsubmit="processForm(event)">
		<ion-list>
			<ion-item>
				<ion-img [src]="item.thumbnail" [disabled]="!isEdit" name="thumbnail"></ion-img>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Date <ion-text color="danger">*</ion-text></ion-label>
				<ion-input required type="text" value="{{ item.published.monthName + ' ' + item.published.day + ', ' + item.published.year }}" [disabled]="!isEdit" name="published"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Title <ion-text color="danger">*</ion-text></ion-label>
				<ion-input required type="text" [(ngModel)]="item.title" [disabled]="!isEdit" name="title"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Subtitle</ion-label>
				<ion-input required type="text" [(ngModel)]="item.subtitle" [disabled]="!isEdit" name="subtitle"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">With</ion-label>

				<ion-chip *ngFor="let person of item.persons; let index = index" name="with">
					<ion-label>{{ person }}</ion-label>
					<ion-icon *ngIf="isEdit" name="close-circle" (click)="deletePerson(person)"></ion-icon>
				</ion-chip>

			</ion-item>

			<ion-item>
				<ion-label position="stacked">Topics</ion-label>

				<ion-chip *ngFor="let topic of item.topics; let index = index" name="topics">
					<ion-label>{{ topic }}</ion-label>
					<ion-icon name="close-circle" *ngIf="isEdit" ></ion-icon>
				</ion-chip>

			</ion-item>

			<ion-item>
				<ion-label position="stacked">Text</ion-label>
				<ion-textarea 
					[disabled]="!isEdit" name="text"
					readonly
					value="{{ item.text }}">
				</ion-textarea>
			</ion-item>
			
			<ion-item>
				<ion-button full round *ngIf="isEdit" (click)="saveItem(item)">Save</ion-button>
			</ion-item>
		</ion-list>
	</form>
</div>
