<ion-header no-border>
	<ion-toolbar mode="ios">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button>
		  <ion-icon name="add" routerLink="/tabs/new-item"></ion-icon>
		</ion-fab-button>
	</ion-fab>

    <ion-list lines="none">
	  
	  <ion-list-header>
        <ion-label>January 2020</ion-label>
	  </ion-list-header>
	  
      <ion-item *ngFor="let item of items; let index = index" (click)="openItem(item)">
		<ion-card routerLink="/tabs/view-item/{{ item.id }}" routerDirection="forward">
		  <ion-card-header>
			<ion-grid>
			  <ion-row>
				<ion-col size="3"  class="date-label">
				  <ion-row class="date-label-month">{{ item.published.monthName }}</ion-row>
				  <ion-row class="date-label-day">{{ item.published.day }}</ion-row>
				  <ion-row class="date-label-year">{{ item.published.year }}</ion-row>
				</ion-col>
				<ion-col size="9">
				  <ion-row>
					<ion-card-title>{{ item.title }}</ion-card-title>
				  </ion-row>
				  <ion-row>
					<ion-card-subtitle>{{ item.subtitle }}</ion-card-subtitle>
				  </ion-row>
				</ion-col>
			  </ion-row>
			  <ion-row>
				<ion-col size="3">
				With:
				</ion-col>
				<ion-col size="9">
					<span *ngFor="let person of item.persons; last as isLast">
						{{ isLast ? person : person + ',' }}
					</span>
				</ion-col>
			</ion-row>
			</ion-grid>
		  </ion-card-header>
		  <ion-img [src]="item.thumbnail"></ion-img>
		  <ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col size="3">
						<b>Topics: </b>	
					</ion-col>
					<ion-col size="9">
						<span *ngFor="let topic of item.topics; last as isLast">
							{{ isLast ? topic : topic + ',' }}
						</span>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="date-label">
						<p>{{ item.text }} </p>
				    </ion-col>
			  </ion-row>
			</ion-grid>

		  </ion-card-content>
		</ion-card>
	  </ion-item>

    </ion-list>
</ion-content>
